@model IEnumerable<CodingLanguages.Web.Models.LanguageModel>

<br />
<br />
<div class="container p-4 border">
    <div class="row pb-2">
        <div class="col">
            <h1 class="text-primary">Languages List</h1>
        </div>
        <div class="col text-end pt-1">
            <a asp-action="LanguageCreate" class="btn btn-ouline-primary">
                <i class="fas fa-plus"></i> Add New Language
            </a>
        </div>
    </div>
    <table class="table">
           <thead>
                <tr>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Category</th>
                </tr>
           </thead>
           <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Name</td>
                    <td>@item.Description</td>
                    <td>@item.Category</td>
                    <td>
                        <div class="d-flex gap-2">
                            <a asp-action="LanguageUpdate" asp-route-id="@item.Id" class="btn btn-success">
                                <i class="fas fa-edit"></i>
                            </a>
                            <a asp-action="LanguageDelete" asp-route-id="@item.Id" class="btn btn-danger">
                                <i class="fas fa-trash"></i>
                            </a>
                        </div>
                    </td>
                </tr>
            }
           </tbody>
    </table>
</div>